html
	head
		meta(charset="UTF-8")
		title #{title}
		link(rel='stylesheet' href='../stylesheets/style.css')
		link(rel='stylesheet' href='../stylesheets/bootstrap.css')
	body
		.container
			.row
				.col-md-4
					div(class="panel panel-danger")
						.panel-heading STUDENT REGISTRATION
						.panel-body
								.formgroup
									form(name='register', action='/register', method='post')
										label First Name
										input(type="text", class="form-control", name="firstName", required="required")
										label Last Name
										input(type="text", class="form-control", name="lastName", required="required")
										label Email Address
										input(type="email",class="form-control", name="email")
										br
										button(class="btn btn-primary", type="submit").
											REGISTER
				.col-md-4
					div(class="panel panel-primary")
						.panel-heading ADMIN LOGIN 
						.panel-body
								.formgroup
									form(name='login', action='/adminlogin', method='post')
										label Username
										input(type="text", class="form-control", name="username")
										br
										label Password
										input(type="password", class="form-control", name="password")
										br
										button(class="btn btn-primary", type="submit").
											LOGIN
				.col-md-4
					div(class="panel panel-primary")
						.panel-heading USER LOGIN
						.panel-body
								.formgroup
									form(name='loginuser', action='/login/user', method='post')
										label Username
										input(type="text",class="form-control", name="username")
										br
										label Password
										input(type="password",class="form-control", name="password")
										br
										button(class="btn btn-primary", type="submit").
											LOGIN
			.row 
				if message
					div(class="alert alert-success")
						h4 #{message}
				if messagee
					div(class="alert alert-success")
						h4 #{messagee}
